@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"> Sınav Sonucunuz</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <table>
                    <tbody>
                    <tr>
                        <td>Adı Soyadı</td>
                        <td>Melike Konmaz</td>
                    </tr>
                    <tr>
                        <td>TC Kimlik Numarası</td>
                        <td>47856958521</td>
                    </tr>
                    <tr>
                        <td>Aday No</td>
                        <td>256352</td>
                    </tr>
                    <tr>
                        <td>Sınav Sonucu</td>
                            <td><p class="mb-0">Lise öğrenci alım sınavını <b><u><i>kazanamadınız</i></u></b>. Akademik hayatınızda başarılar dileriz.</p></td>
                    </tr>
                    </tbody>
                </table>
                <p> </p>

            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->