@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Detaylı Sınav Sonuçları</h1>
                    <p class="mb-4">
                        2024-2025 Öğretim yılı bursluluk sınavı sonuçlarının detayları aşağıdaki gibidir.
                    </p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Detaylı Sınav Sonuçları</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>TC KİMLİK</th>
                                            <th>İSİM</th>
                                            <th>SOYİSİM</th>
                                            <th>Turkish</th>
                                            <th>English</th>
                                            <th>Science</th>
                                            <th>Math</th>
                                            <th>Total</th>
                                            <th>Scholarship</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>69,5556</th>
                                            <th>54,3333</th>
                                            <th>53,2222</th>
                                            <th>42,5556</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>15499990780</td>
                                            <td>EMMA</td>
                                            <td>BROWN</td>
                                            <td>42</td>
                                            <td>87</td>
                                            <td>63</td>
                                            <td>75</td>
                                            <td>267</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>89647551792</td>
                                            <td>MICHAEL</td>
                                            <td>DAVIS</td>
                                            <td>11</td>
                                            <td>70</td>
                                            <td>22</td>
                                            <td>45</td>
                                            <td>148</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>37991897126</td>
                                            <td>MICHAEL</td>
                                            <td>ANDERSON</td>
                                            <td>37</td>
                                            <td>85</td>
                                            <td>37</td>
                                            <td>98</td>
                                            <td>257</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>98435208892</td>
                                            <td>ROBERT</td>
                                            <td>THOMAS</td>
                                            <td>79</td>
                                            <td>15</td>
                                            <td>74</td>
                                            <td>61</td>
                                            <td>229</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>74859941859</td>
                                            <td>WILLIAM</td>
                                            <td>JOHNSON</td>
                                            <td>68</td>
                                            <td>52</td>
                                            <td>71</td>
                                            <td>13</td>
                                            <td>204</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>57795133084</td>
                                            <td>JAMES</td>
                                            <td>WILLIAMS</td>
                                            <td>84</td>
                                            <td>61</td>
                                            <td>69</td>
                                            <td>95</td>
                                            <td>309</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>98180937471</td>
                                            <td>DAVID</td>
                                            <td>BROWN</td>
                                            <td>4</td>
                                            <td>18</td>
                                            <td>19</td>
                                            <td>32</td>
                                            <td>73</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>88538927308</td>
                                            <td>JOSEPH</td>
                                            <td>MILLER</td>
                                            <td>62</td>
                                            <td>67</td>
                                            <td>24</td>
                                            <td>67</td>
                                            <td>220</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>24469683094</td>
                                            <td>THOMAS</td>
                                            <td>WILSON</td>
                                            <td>69</td>
                                            <td>32</td>
                                            <td>45</td>
                                            <td>68</td>
                                            <td>214</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>25137012369</td>
                                            <td>CHARLES</td>
                                            <td>MOORE</td>
                                            <td>10</td>
                                            <td>59</td>
                                            <td>73</td>
                                            <td>68</td>
                                            <td>210</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>55865568925</td>
                                            <td>CHRISTOPHER</td>
                                            <td>TAYLOR</td>
                                            <td>53</td>
                                            <td>39</td>
                                            <td>30</td>
                                            <td>64</td>
                                            <td>186</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>43978000847</td>
                                            <td>DANIEL</td>
                                            <td>ANDERSON</td>
                                            <td>53</td>
                                            <td>79</td>
                                            <td>12</td>
                                            <td>36</td>
                                            <td>180</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>13</td>
                                            <td>12749310035</td>
                                            <td>MATTHEW</td>
                                            <td>THOMAS</td>
                                            <td>96</td>
                                            <td>43</td>
                                            <td>90</td>
                                            <td>20</td>
                                            <td>249</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>14</td>
                                            <td>47929343091</td>
                                            <td>GEORGE</td>
                                            <td>JACKSON</td>
                                            <td>74</td>
                                            <td>20</td>
                                            <td>35</td>
                                            <td>74</td>
                                            <td>203</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>15</td>
                                            <td>11776944432</td>
                                            <td>ANDREW</td>
                                            <td>WHITE</td>
                                            <td>72</td>
                                            <td>87</td>
                                            <td>33</td>
                                            <td>48</td>
                                            <td>240</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>16</td>
                                            <td>37201620512</td>
                                            <td>JOSEPH</td>
                                            <td>HARRIS</td>
                                            <td>68</td>
                                            <td>16</td>
                                            <td>16</td>
                                            <td>70</td>
                                            <td>170</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>17</td>
                                            <td>39397691374</td>
                                            <td>KENNETH</td>
                                            <td>MARTIN</td>
                                            <td>75</td>
                                            <td>46</td>
                                            <td>61</td>
                                            <td>27</td>
                                            <td>209</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>18</td>
                                            <td>33003553305</td>
                                            <td>EDWARD</td>
                                            <td>THOMPSON</td>
                                            <td>13</td>
                                            <td>39</td>
                                            <td>5</td>
                                            <td>36</td>
                                            <td>93</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>19</td>
                                            <td>52177761183</td>
                                            <td>DONALD</td>
                                            <td>GARCIA</td>
                                            <td>2</td>
                                            <td>87</td>
                                            <td>81</td>
                                            <td>89</td>
                                            <td>259</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>20</td>
                                            <td>39896544647</td>
                                            <td>STEPHEN</td>
                                            <td>MARTINEZ</td>
                                            <td>52</td>
                                            <td>12</td>
                                            <td>80</td>
                                            <td>80</td>
                                            <td>224</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>21</td>
                                            <td>51298123798</td>
                                            <td>PAUL</td>
                                            <td>RODRIGUEZ</td>
                                            <td>54</td>
                                            <td>98</td>
                                            <td>78</td>
                                            <td>49</td>
                                            <td>279</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>22</td>
                                            <td>27970205776</td>
                                            <td>FRANK</td>
                                            <td>HERNANDEZ</td>
                                            <td>52</td>
                                            <td>15</td>
                                            <td>92</td>
                                            <td>72</td>
                                            <td>231</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>23</td>
                                            <td>45482632752</td>
                                            <td>RICHARD</td>
                                            <td>HUGHES</td>
                                            <td>89</td>
                                            <td>9</td>
                                            <td>34</td>
                                            <td>60</td>
                                            <td>192</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>24</td>
                                            <td>99154849813</td>
                                            <td>CHARLES</td>
                                            <td>GONZALEZ</td>
                                            <td>78</td>
                                            <td>24</td>
                                            <td>61</td>
                                            <td>28</td>
                                            <td>191</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>25</td>
                                            <td>10050795527</td>
                                            <td>THOMAS</td>
                                            <td>NELSON</td>
                                            <td>24</td>
                                            <td>86</td>
                                            <td>57</td>
                                            <td>25</td>
                                            <td>192</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>26</td>
                                            <td>71914436150</td>
                                            <td>JOHN</td>
                                            <td>WRIGHT</td>
                                            <td>99</td>
                                            <td>85</td>
                                            <td>84</td>
                                            <td>71</td>
                                            <td>339</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>27</td>
                                            <td>53464891894</td>
                                            <td>WILLIAM</td>
                                            <td>LOPEZ</td>
                                            <td>56</td>
                                            <td>78</td>
                                            <td>95</td>
                                            <td>73</td>
                                            <td>302</td>
                                            <td>0</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website @DateTime.Now.Year</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>



    <!-- Bootstrap core JavaScript-->
    <script src="/template/vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/template/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/template/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/template/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/template/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/template/js/demo/datatables-demo.js"></script>

</body>